.home-top-background {
    width: 100%;
    height: 100vh;
    filter: brightness(90%) contrast(150%) saturate(150%);
    position: relative;
    background-image: url(../../public/img/pexels-hyundai-motor-group-11159145.webp);
}

.background-img {
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1px;
}

.home-top-content {
    text-align: center;
    font-size: 26px;
    letter-spacing: 10px;
    width: 100%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.logo-style {
    font-size: 52.5px;
    letter-spacing: 8px;
}

.button-learn-more {
    width: 130px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}

.button-learn-more:hover {
    background-color: black;
    color: red;
    transition: all 0.2s linear;
    transform: scale(1.05);
}

.home-middle-background {
    width: 100%;
    height: 600px;
    background-color: white;
}

.home-middle-left {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
}

.home-middle-left img{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
}

.home-middle-left img:hover {
    transition: all 0.4s linear;
    transform: scale(1.1);
}


.home-middle-right {
    width: 100%;
    height: 300px;
    display: block;
    margin-top: 60px;
}

table {
    width: 100%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 80px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

th, td {
    padding: 0px;
    font-size: 18px;
}

th {
    color: grey;
    font-size: 16px;
}

.car-name {
    color: navy;
    font-size: 23px;
    font-weight: bold;
}

.car-number {
    color: black;
    font-size: 21px;
    font-weight: bold;
}

.home-bottom-background {
    height: 100vh;
    background-image: url(../../public/img/hyundai-grey.webp);
    filter: brightness(90%) contrast(120%) saturate(200%);
    position: relative;
}

.home-bottom-background2 {
    height: 100vh;
    background-image: url(../../public/img/hyundai-kona.webp);
    filter: brightness(100%) contrast(110%) saturate(140%);
    position: relative;
}

.home-bottom-background3 {
    height: 100vh;
    background-image: url(../../public/img/ioniq.webp);
    filter: brightness(100%) contrast(110%) saturate(160%);
    position: relative;
}

.home-bottom-content {
    letter-spacing: 8px;
    top: 50%;
}

@media screen and (max-width: 1200px) {
    .home-top-background {
        background-image: url(../../public/img/hyundai-mobile.webp);
    }

    .background-img {
        background-attachment: scroll;
    }
    
    .home-middle-left img{
        width: 70%;
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .home-top-background {
        background-image: url(../../public/img/hyundai-mobile.webp);
    }

    .background-img {
        background-attachment: scroll;
    }

    .home-top-content {
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 6px;
        top: 38%;
    }

    .logo-style {
        font-size: 35px;
        letter-spacing: 5px;
    }
    
    .button-learn-more {
        width: 110px;
        font-size: 12px;
        height: 45px;
    }

    .home-middle-background {
        height: 400px;
    }

    .home-middle-left {
        height: 200px;
    }

    .home-middle-left img{
        width: 70%;
        margin-top: 90px;
    }

    .home-middle-right {
        height: 200px;
    }

    table {
        width: 100%;
        padding: 10px;
    }

    th, td {
        padding: 5px;
        font-size: 9px;
    }

    td {
        font-size: 8px;
    }

    .car-name {
        font-size: 12px;
    }
    
    .home-bottom-content {
        font-size: 14px;
        letter-spacing: 5px;
        top: 50%;
    }

    .car-number {
        font-size: 12px;
    }
}

