.home-top-background {
    width: 100%;
    height: 100vh;
    filter: brightness(90%) contrast(150%) saturate(150%);
    position: relative;
    background-image: url(../../public/img/pexels-hyundai-motor-group-11159145.jpg);
}

.background-img {
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1px;
}

.home-top-content {
    text-align: center;
    font-size: 23px;
    letter-spacing: 10px;
    width: 100%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.logo-style {
    font-size: 52.5px;
    letter-spacing: 8px;
}

.button-learn-more {
    width: 130px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}

.button-learn-more:hover {
    background-color: black;
    color: red;
}

.home-middle-background {
    width: 100%;
    height: 600px;
    background-color: white;
}

.home-middle-left {
    width: 30%;
    height: 600px;
    float: left;
    text-align: center;
    background-color: white;
}

.home-middle-left img{
    width: 90%;
    max-width: 500px;
    margin-left: 70px;
    margin-top: 200px;
}

.home-middle-right {
    width: 70%;
    height: 600px;
    float: left;
    position: relative;
}

.home-table {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th, td {
    padding: 7px;
    font-size: 18px;
}

.home-bottom-background {
    height: 100vh;
    background-image: url(../../public/img/hyundai-grey.jpg);
    filter: brightness(90%) contrast(120%) saturate(200%);
}

.home-bottom-background2 {
    height: 100vh;
    background-image: url(../../public/img/hyundai-kona.jpg);
    filter: brightness(100%) contrast(100%) saturate(140%);
}

.home-bottom-background3 {
    height: 100vh;
    background-image: url(../../public/img/hyundai-ioniq.jpg);
    filter: brightness(100%) contrast(100%) saturate(140%);
}

.home-bottom-content {
    letter-spacing: 5px;
    top: 50%;
}

@media screen and (max-width: 600px) {
    .home-top-background {
        background-image: url(../../public/img/hyundai-mobile.png);
    }

    .background-img {
        background-attachment: scroll;
    }

    .home-top-content {
        font-size: 14px;
        line-height: 60px;
        letter-spacing: 6px;
        top: 38%;
    }

    .logo-style {
        font-size: 35px;
        letter-spacing: 5px;
    }
    
    .button-learn-more {
        width: 110px;
        font-size: 12px;
        height: 45px;
    }

    .home-middle-background {
        height: 400px;
    }

    .home-middle-left {
        width: 100%;
        height: 300px;
    }

    .home-middle-left img{
        margin-top: 30px;
    }

    .home-middle-right {
        width: 100%;
        height: 100px;
    }

    table {
        width: 90%;
        box-sizing: border-box;
    }

    th, td {
        padding: 5px;
        font-size: 8px;
    }

    td {
        font-size: 8px;
        color: grey;
    }

    .home-bottom-background {
        height: 650px;
    }

    .home-bottom-background2 {
        height: 650px;
    }
    
    .home-bottom-content {
        font-size: 11px;
        letter-spacing: 5px;
        top: 50%;
    }

}