
li, ul {
    box-sizing: border-box;
}

ul {
    box-sizing: border-box;
    margin: 0;
}

nav {
    height: 50px;
    padding: 20px;
    background-color: black;
}

nav li {
    display: inline;
    padding: 20px;
    font-size: 15px;
}

.nav-container {
    position: sticky;
    z-index: 999;
    top: 0;
}

.hyundai-logo {
    float: left;
    margin-top: 5px;
    width: 70px;
}

.company-name {
    float: left;
    margin-top: -15px; 
    font-size: 30px;
    font-weight: bold; 
    color: white;
}

.nav-item-company {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item-company:hover {
    color: red;
}

.nav-menu {
    float: right;
    margin-top: 15px;
}

.clear-both {
    clear: both;
}

@media screen and (max-width: 600px) {
    nav {
        height: 25px;
    }

    .hyundai-logo {
        margin-top: 2px;
        width: 30px;
    }

    .company-name {
        margin-top: -22px; 
        font-size: 20px;
    }
}




