
li, ul {
    box-sizing: border-box;
}

ul {
    box-sizing: border-box;
    margin: 0;
}

nav {
    height: 50px;
    padding: 20px;
    background-color: black;
}

nav li {
    display: inline;
    padding: 20px;
    font-size: 15px;
}

.nav-container {
    position: sticky;
    z-index: 999;
    top: 0;
}

.hyundai-logo {
    float: left;
    margin-top: 10px;
    width: 70px;
}

.company-name {
    float: left;
    margin-top: -10px; 
    font-size: 30px;
    font-weight: bold; 
    color: white;
}

.mobile-menu {
    float: right;
    margin-top: -19px; 
}

.mobile-menu img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav-modal {
    background-color: silver;
    width: 100%;
    height: 300px;
    padding-top: 30px;
}

.nav-modal li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 50px;
    font-weight: bold;
}

.nav-modal li:visited {
    text-decoration: none;
}

.nav-modal li:hover {
    color: red;
}

.modal-style {
    color: black;
    text-decoration: none;
}

.nav-model ul {
    display: flex;
    margin: 0;
}

.nav-item-company {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-item-company:hover {
    color: red;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -5px;
}

.clear-both {
    clear: both;
}

@media screen and (max-width: 600px) {
    nav {
        height: 25px;
    }

    .hyundai-logo {
        margin-top: 2px;
        width: 30px;
    }

    .company-name {
        margin-top: -22px; 
        font-size: 20px;
    }
}




