.shopping-container {
    background: linear-gradient(to right, #434343 0%, black 100%);
    height: 90vh;
}

.title {
    color: white;
    text-align: left;
    height: 150px;
    display: flex;
    align-items: center;
    width: 98%;
}

.title h1 {
    padding-left: 10px;
}

.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flexbox {
    width: 60%;
    height: 100%;
    background-color: red;
    margin: 20px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.flexbox img {
    width: 100%;
}

.flexbox:hover {
    border: 4px solid #00559A;
    transform: scale(1.05);
    transition: all 0.2s linear;
}

@media screen and (max-width: 767px) {
    .shopping-container {
        height: 100%;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .flexbox {
        width: 80%;
    }

    .title {
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .flexbox h1 {
        font-size: 28px;
    }

    .flexbox h3 {
        font-size: 16px;
    }
}