div {
    box-sizing: border-box;
}

.vehicle-section-container {
    background: linear-gradient(to right, #434343 0%, black 100%);
    opacity: 0;
}

.vehicle-top {
    padding: 20px;
}

.vehicle-top h1 {
    font-size: 33px;
    font-weight: lighter;
    margin-left: 0px;
    color: white;
    text-align: center;
}

.vehicle-top-container {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.vehicle-top-box {
    width: 100%;
    max-width: 650px;
    height: 500px;
    margin: 50px;
    position: relative;
    border-radius: 5px;
}

.vehicle-top-box img {
    text-align: center;
    margin-top: 160px;
    width: 95%;
}

.vehicle-top-box img:hover {
    transition: all 0.2s linear;
    transform: scale(1.05);
}

.vehicle-text-box {
    position: absolute;
    color: white;
    left: 5%;
    top: 0%;
}

.vehicle-text-box h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 10px;
    border-left: 4px solid white;
}

.color-navy {
    color: white;
    font-size: 37px;
    font-weight: bold;
}

.vehicle-button {
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.vehicle-button:hover {
    background-color: white;
    color: red;
    transition: all 0.2s linear;
    transform: scale(1.1);
}

.vehicle-section-visible {
    opacity: 1;
    transition: 1.5s;
}


@media screen and (max-width: 767px) {
    .vehicle-top {
        padding: 20px;
    }

    .vehicle-top h1 {
        font-size: 24px;
        margin-left: 0px;
    }

    .vehicle-top-box {
        height: 350px;
        margin: 20px;
        margin-bottom: 50px;
    }

    .vehicle-top-box img {
        margin-top: 120px;
        width: 100%;
        height: 120px;
        filter: brightness(90%) contrast(100%) saturate(150%);
    }

    .vehicle-text-box h1 {
        padding: 5px;
        border-left: 3px solid;
    }

    .color-navy {
        font-size: 32px;
        font-weight: bold;
    }

    .vehicle-button {
        width: 85px;
        height: 40px;
        font-size: 12px;
    }
}