div {
    box-sizing: border-box;
}

.vehicle-top {
    padding: 45px;
}

.vehicle-top h1 {
    font-size: 33px;
    font-weight: lighter;
    margin-left: 0px;
    color: black;
    text-align: center;
}

.vehicle-top-container {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.vehicle-top-box {
    width: 100%;
    max-width: 600px;
    height: 450px;
    margin: 50px;
    position: relative;
    border-radius: 5px;
}

.vehicle-top-box img {
    margin-top: 160px;
    width: 100%;
    height: 200px;
    filter: brightness(90%) contrast(100%) saturate(150%);
}

.vehicle-top-box img:hover {
    transition: all 0.2s linear;
    transform: scale(1.05);
}

.vehicle-text-box {
    position: absolute;
    color: black;
    left: 5%;
    top: 0%;
}

.vehicle-text-box h1 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding: 10px;
    border-left: 4px solid navy;
}

.color-navy {
    color: navy;
    font-size: 37px;
    font-weight: bold;
}

.vehicle-button {
    width: 100px;
    height: 50px;
    margin: 10px;
    border: none;
}

.vehicle-button:hover {
    background-color: black;
    color: white;
    transition: all 0.2s linear;
    transform: scale(1.1);
}


@media screen and (max-width: 767px) {
    .vehicle-top {
        padding: 20px;
    }

    .vehicle-top h1 {
        font-size: 24px;
        margin-left: 0px;
    }

    .vehicle-top-box {
        height: 350px;
        margin: 20px;
        margin-bottom: 0px;
    }

    .vehicle-top-box img {
        margin-top: 120px;
        width: 100%;
        height: 120px;
        filter: brightness(90%) contrast(100%) saturate(150%);
    }

    .vehicle-text-box h1 {
        padding: 5px;
        border-left: 3px solid navy;
    }

    .color-navy {
        color: navy;
        font-size: 32px;
        font-weight: bold;
    }
}